<div class="wrap">
  <h1 class="title">Git repositories list</h1>
  <form [formGroup]="form">
    <div class="search">
      <input
        type="text"
        class="searchTerm"
        formControlName="search"
        placeholder="Search repositories "
      />
      <button
        type="submit"
        class="searchButton"
        [disabled]="noInput"
      >
        <i class="fa fa-search"></i>
      </button>
    </div>
  </form>
  <app-repo-list *ngIf="searchResults" [searchList]="searchResults"></app-repo-list>
  <div *ngIf="noResult">No results found.</div>

  <div *ngIf="isLoading">Loading...</div>
  <div *ngIf="errorMessage" class="error">{{errorMessage}}</div>
</div>